venv
.env
env
temp.py

# Docker-generated data and logs
docker-compose/airflow/data/
docker-compose/airflow/logs/
docker-compose/datalake/data/minio/
docker-compose/kalfka/kalfka-logs/

# Python cache files
__pycache__/
*.pyc